{% extends "layout.html" %}

{% block content %}

<h1>About roadi</h1>
<p style="font-size: 20px; max-width: 400px">roadi is an app that shows any user the cheapest way to experience the events that they love in person. It uses data from <a href="http://www.stubhub.com/">StubHub</a> and <a href="http://www.sabre.com/">Sabre</a> to deliver the absolute lowest prices on event admission and air travel.</p>

<p style="font-size: 20px; max-width: 400px"> roadi was created by <a href="http://www.jakenyquist.com">Jake Nyquist</a>, <a href="http://brett.gutste.in">Brett Gutstein</a>, and Philip Taffet at <a href="http://hackdfw.challengepost.com/">HackDFW 2015</a> using Bootstrap, jQuery, and Flask.</p>
{% endblock %}
